/*how to get pag to resize properly when shrunk down very small?*/
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width: 2561px) {
    html {
    font-size: 20px;
    }
}

@media (max-width: 1920px) {
    html {
    font-size: 16px;
    }
}

@media (max-width: 768px) {
    html {
    font-size: 10px;
    }
}

@media (max-width: 450px) {
    html {
    font-size: 6px;
    }
}

body {
    background-image: url('./background.jpg');
    background-size: cover;
    max-height: 98%;
    background-position: center;
    color: white;
}

h1 {
    color: f48c06;
    font-size: 5rem;
    
    margin-top: 15px;
    margin-bottom: 25px;
}

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20%;
    background-color: rgba(0,0,0,0.95);
}

button {
    border: none;
    font-size: 3.5rem;
    background-color: transparent;
    outline: none;
    color: whitesmoke;
    margin-left: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    
}

button:hover {
    scale: 1.05;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.9);
    overflow: hidden;
}

a:link {
    color: white;
}
a:visited {
    color: f48c06;
}
#content {
    display: grid;
    height: 73%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
#mainContent {
    position: absolute;
    top: 6rem;
    justify-self: center;
    font-size: 3rem;
    color: black;
    padding: 15px;
    overflow: hidden;
    background-color: #c9c9c9ea;
    border-radius: 12px;
}
#hours {
    font-size: 2rem;
    color: black;
    padding: 15px;
    overflow: hidden;
    background-color: #c9c9c9ea;
    border-radius: 12px;
}
#menuWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #c9c9c9ea;
    color: black;
    font-size: 2rem;
    border-radius: 12px;
    padding: 20px;
    border: 5px solid black;
    column-gap: 3rem;
}
#menuItems {
    border: 5px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
}