/*how to get pag to resize properly when shrunk down very small?*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-image: url('./background.jpg');
    background-size: cover;
    height: 98%;
    background-position: center;
    color: white;
}

h1 {
    color: f48c06;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15px;
    margin-bottom: 25px;
}

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    background-color: rgba(0,0,0,0.95);
}

button {
    border: none;
    font-size: 44px;
    background-color: transparent;
    outline: none;
    color: whitesmoke;
    margin-left: 30px;
    
}

button:hover {
    scale: 1.05;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0,0,0,0.9);
}

a:link {
    color: white;
}
a:visited {
    color: f48c06;
}
#content {
    display: grid;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-right: 750px;
    margin-left: 200px;*/

}
#mainContent {
    justify-self: center;
    align-self: center;
    font-size: 44px;
    color: whitesmoke;
    padding: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}
